# Initializations

In [ ]:
!nvcc --version

In [ ]:
!pip install spacy==3.3
!pip install 'spacy[transformers,cuda_111]'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Add metadata to annotations

In [ ]:
import pandas as pd

path1 = pd.read_json("/content/ner_1617.jsonl", lines=True)
df1 = pd.DataFrame(path1)

path2 = pd.read_json("/content/full_cleaned_20000-23999bb.jsonl", lines=True)
df2 = pd.DataFrame(path2)

In [ ]:
df1.head(5)

,text,spans,_input_hash,_task_hash,tokens,_view_id,answer,_timestamp
0,Most of the characteristic species of the Ross...,"[{'start': 0, 'end': 195, 'token_start': 0, 't...",1883934775,-282210548,"[{'text': 'Most', 'start': 0, 'end': 4, 'id': ...",spans_manual,accept,1665142410
1,They considered this sufficient evidence to ju...,[],-790869961,-1917123859,"[{'text': 'They', 'start': 0, 'end': 4, 'id': ...",spans_manual,accept,1665142411
2,The latter specimen was identified tentatively...,"[{'start': 0, 'end': 138, 'token_start': 0, 't...",1164894021,-1535474047,"[{'text': 'The', 'start': 0, 'end': 3, 'id': 0...",spans_manual,accept,1665142412
3,Other phosphatic microfossils were found in sa...,"[{'start': 0, 'end': 124, 'label': 'ACTIVITY',...",43492893,1447089060,"[{'text': 'Other', 'start': 0, 'end': 5, 'id':...",spans_manual,accept,1665142413
4,Ordovician co nodont elements were found in Sa...,[],1303462793,850938134,"[{'text': 'Ordovician', 'start': 0, 'end': 10,...",spans_manual,accept,1665142414

In [ ]:
df2.head(5)

,text,meta
0,A new species of the copepod genus Australoeuc...,"{'id': 'http://www.jstor.org/stable/41720796',..."
1,The rate of mitochondrial 12S rRNA gene evolut...,"{'id': 'http://www.jstor.org/stable/41720796',..."
2,Bathymétrie map of the rift valley along the s...,"{'id': 'http://www.jstor.org/stable/41763431',..."
3,The relative abundance of the four most domina...,"{'id': 'http://www.jstor.org/stable/41763431',..."
4,Relative abundance values are normalized for v...,"{'id': 'http://www.jstor.org/stable/41763431',..."

In [ ]:
inner_merged_total = pd.merge(df1, df2, on=["text"])

In [ ]:
inner_merged_total

,text,spans,_input_hash,_task_hash,tokens,_view_id,answer,_timestamp,meta
0,Most of the characteristic species of the Ross...,"[{'start': 0, 'end': 195, 'token_start': 0, 't...",1883934775,-282210548,"[{'text': 'Most', 'start': 0, 'end': 4, 'id': ...",spans_manual,accept,1665142410,"{'id': 'http://www.jstor.org/stable/20172991',..."
1,They considered this sufficient evidence to ju...,[],-790869961,-1917123859,"[{'text': 'They', 'start': 0, 'end': 4, 'id': ...",spans_manual,accept,1665142411,"{'id': 'http://www.jstor.org/stable/20172991',..."
2,The latter specimen was identified tentatively...,"[{'start': 0, 'end': 138, 'token_start': 0, 't...",1164894021,-1535474047,"[{'text': 'The', 'start': 0, 'end': 3, 'id': 0...",spans_manual,accept,1665142412,"{'id': 'http://www.jstor.org/stable/20172991',..."
3,Other phosphatic microfossils were found in sa...,"[{'start': 0, 'end': 124, 'label': 'ACTIVITY',...",43492893,1447089060,"[{'text': 'Other', 'start': 0, 'end': 5, 'id':...",spans_manual,accept,1665142413,"{'id': 'http://www.jstor.org/stable/20172991',..."
4,Ordovician co nodont elements were found in Sa...,[],1303462793,850938134,"[{'text': 'Ordovician', 'start': 0, 'end': 10,...",spans_manual,accept,1665142414,"{'id': 'http://www.jstor.org/stable/20172991',..."
...,...,...,...,...,...,...,...,...,...
829,"In fact, all Carnian species that ranged throu...",[],-488000781,-2130479536,"[{'text': 'In', 'start': 0, 'end': 2, 'id': 0,...",spans_manual,accept,1665141722,"{'id': 'http://www.jstor.org/stable/20144200',..."
830,Late Triassic bryozoans were also re ported bu...,[],1372559913,-741141316,"[{'text': 'Late', 'start': 0, 'end': 4, 'id': ...",spans_manual,accept,1665141729,"{'id': 'http://www.jstor.org/stable/20144200',..."
831,"Conversely, encrusting taxa were generally res...",[],1123558288,-1760454971,"[{'text': 'Conversely', 'start': 0, 'end': 10,...",spans_manual,accept,1665141752,"{'id': 'http://www.jstor.org/stable/20144200',..."
832,"Cyclostomes, the only post Triassic survivors,...",[],1885542863,-1671855593,"[{'text': 'Cyclostomes', 'start': 0, 'end': 11...",spans_manual,accept,1665141755,"{'id': 'http://www.jstor.org/stable/20144200',..."
833,A detailed comparative taxonomic study of all ...,"[{'start': 0, 'end': 232, 'token_start': 0, 't...",-357060839,1758780534,"[{'text': 'A', 'start': 0, 'end': 1, 'id': 0, ...",spans_manual,ignore,1665141790,"{'id': 'http://www.jstor.org/stable/20144200',..."

In [ ]:
new_data = inner_merged_total.drop(['_input_hash', '_task_hash', '_view_id', 'tokens', '_timestamp'], axis=1)

In [ ]:
new_new_data =new_data.rename(columns={'spans_x': 'spans'})

In [ ]:
new_new_data

,text,spans,meta,answer
0,"""Blind testing"" analysis of coprolites by an i...","[{'start': 0, 'end': 24, 'label': 'METHOD'}, {...","{'id': 'http://www.jstor.org/stable/41584543',...",accept
1,"""Luminescence dating"" is a term that embraces ...","[{'start': 1, 'end': 20, 'label': 'METHOD'}, {...","{'id': 'http://www.jstor.org/stable/42928652',...",accept
2,"""Space-for-time"" substitution is widely used i...","[{'start': 48, 'end': 69, 'label': 'METHOD'}]","{'id': 'http://www.jstor.org/stable/42706621',...",ignore
3,(2) Species distribution models (SDMs): the IA...,"[{'start': 53, 'end': 77, 'label': 'METHOD'}, ...","{'id': 'http://www.jstor.org/stable/42568458',...",accept
4,(5) Extended R-Value analysis was carried out ...,"[{'start': 13, 'end': 29, 'label': 'METHOD'}, ...","{'id': 'http://www.jstor.org/stable/23419731',...",accept
...,...,...,...,...
6449,• Methods Wood density was determined from tre...,"[{'start': 60, 'end': 78, 'label': 'METHOD'}]","{'id': 'http://www.jstor.org/stable/43576662',...",accept
6450,"• Sporocarps, needles, and litter from Woods C...","[{'start': 128, 'end': 157, 'label': 'METHOD'}...","{'id': 'http://www.jstor.org/stable/1514136', ...",accept
6451,• We examined the EM community associated with...,"[{'start': 136, 'end': 150, 'label': 'METHOD'}...","{'id': 'http://www.jstor.org/stable/4641009', ...",accept
6452,• We grew three subantarctic and three alpine ...,"[{'start': 173, 'end': 188, 'label': 'METHOD'}...","{'id': 'http://www.jstor.org/stable/4641047', ...",accept
6453,•Methods ICP-OES was used to measure Mn and ot...,"[{'start': 9, 'end': 16, 'label': 'METHOD'}, {...","{'id': 'http://www.jstor.org/stable/43576175',...",accept

In [ ]:
new_data.to_json("data.json", orient='records')

In [ ]:
import json
with open('/content/data.json', 'r') as f:
    json_data = json.load(f)
    
with open('METHOD_ACTIVITY_GOAL_RESULT.jsonl', 'w') as outfile:
    for entry in json_data:
        json.dump(entry, outfile)
        outfile.write('\n')

# Data Analysis and Manipulation

## Number of sentences in the dataset

In [ ]:
def count_sents(filename):
  num = sum(1 for line in open(filename))
  print("Total number of sentences is",num)

count_sents("/content/drive/MyDrive/full_cleaned.jsonl")

Total number of sentences is 3622125

## Number of papers in the dataset

In [ ]:
import srsly

def count_papers(filename):
  data = srsly.read_jsonl(filename)
  papers = []
  for col in data:
    tasks = col["meta"]["id"]
    if tasks not in papers:
      papers.append(tasks)
  print("The sentences come from",len(papers), "papers")


count_papers("/content/abstract-sents.jsonl")

The sentences come from 21378 papers

## Number of tokens in the dataset

In [ ]:
import srsly
from nltk.tokenize import WordPunctTokenizer

def total_no_tokens(filename):
  data = srsly.read_jsonl(filename)
  tokens = []
  for col in data:
    tok = WordPunctTokenizer().tokenize(col['text'])
    for w in tok:
      tokens.append(w)
  print("Total number of tokens is",len(tokens))

total_no_tokens("/content/ASSERTION.jsonl")

Total number of tokens is 21253

## Number of sentences per entity

In [ ]:
import pandas as pd

def count_sents_per_label(filename, label):
  data = pd.read_json(filename, lines=True)
  sum_sents_label = []
  for idx, row in data.iterrows():
      for s in row.spans:
          if s["label"] == label:
            if row.text not in sum_sents_label:
              sum_sents_label.append(row.text)
  print("The number of sentences that contain", label,"is", len(sum_sents_label))

count_sents_per_label("/content/annotations_meta_no_duplicates.jsonl","ACTIVITY")
count_sents_per_label("/content/annotations_meta_no_duplicates.jsonl","GOAL")

The number of sentences that contain ACTIVITY is 159
The number of sentences that contain GOAL is 119

## Number of label occurances in the dataset

In [ ]:
import pandas as pd

def count_label(filename, label):
  data = pd.read_json(filename, lines=True)
  sum_label = 0
  for idx, row in data.iterrows():
    for s in row.spans:
      if s["label"] == label:
        sum_label += 1
  print("This label", label ,"occurs",sum_label, "times")

count_label("/content/annotations_meta_no_duplicates.jsonl", "ACTIVITY")
count_label("/content/annotations_meta_no_duplicates.jsonl","GOAL")

This label ACTIVITY occurs 170 times
This label GOAL occurs 127 times

## Number of labeled tokens per entity

In [ ]:
def labeled_tokens_per_entity(path, label):
  data = pd.read_json(path, lines=True)
  spans = []

  for idx, row in data.iterrows():
    for span in row.spans:
        if span['label'] == label:
            spans.append((int(span['token_start']), int(span['token_end'])))
  to_sum = []
  for element in spans:
    a = element[1]-element[0]
    to_sum.append(a)
  print(sum(to_sum))

labeled_tokens_per_entity("/content/annotations_meta_no_duplicates.jsonl","ACTIVITY")

## Filter annotations by answer (remove rejected annotations)

In [ ]:
import os
import srsly

def filter_annotations(dir_path, answer="reject"):
    tasks = []
    texts = [] 
    data = srsly.read_jsonl(dir_path)
    for task in data:
          task["spans"] = [span for span in task["spans"]]
          if task["answer"] != answer and task["text"] not in texts:
              tasks.append(task)
              texts.append(task["text"])
    srsly.write_jsonl(f"_{len(tasks)}.jsonl", tasks)
    return tasks
    

dir_path = "/content/1847_full_cleaned_20000-23999bb_A-based_predsOLD_ner_858.jsonl"
tasks = filter_annotations(dir_path)

## Delete duplicate sentences (if any)

In [ ]:
import pandas as pd

path = pd.read_json("/content/merge1.jsonl", lines=True)
df1 = pd.DataFrame(path)

df1.head()

In [ ]:
data = df1.drop_duplicates(subset="text", keep="first", ignore_index= True)
new_data = pd.DataFrame(data)
new_data

,text,spans
0,The consortium’s survey of East Los Angeles wa...,"[{'start': 85, 'end': 142, 'label': 'GOAL'}]"
1,These criteria were adapted from Singh et al. ...,"[{'start': 0, 'end': 52, 'label': 'ACTIVITY'}]"
2,"At this time of the year, stored water has bee...","[{'start': 0, 'end': 55, 'label': 'ACTIVITY'}]"
3,We explored these questions by studying the na...,"[{'start': 3, 'end': 106, 'label': 'ACTIVITY'}]"
4,Although a number of historians have sought to...,"[{'start': 47, 'end': 108, 'label': 'GOAL'}]"
...,...,...
240,Goldenrods are pollinated most frequently by h...,"[{'start': 0, 'end': 69, 'label': 'ACTIVITY'},..."
241,Genetic variation may indicate the evolutionar...,"[{'start': 74, 'end': 92, 'label': 'GOAL'}, {'..."
242,Stations with elevations above 1000 m were exc...,"[{'start': 0, 'end': 124, 'label': 'ACTIVITY'}]"
243,Multiple counting of individuals of active spe...,"[{'start': 104, 'end': 196, 'label': 'ACTIVITY'}]"
244,To avoid multicollinearity among variables in ...,"[{'start': 3, 'end': 56, 'label': 'GOAL'}]"

In [ ]:
new_data.to_json("data.json", orient='records')

In [ ]:
import json
with open('/content/data.json', 'r') as f:
    json_data = json.load(f)
    
with open('annotations_meta_no_duplicates.jsonl', 'w') as outfile:
    for entry in json_data:
        json.dump(entry, outfile)
        outfile.write('\n')

## Split annotations per entity

### ACTIVITY

In [ ]:
import srsly

path="/content/ner_ACTIVITY_METHOD_GOAL_RESULT_ACTIMPLIED_9816.jsonl"
data = srsly.read_jsonl(path)
examples = []
for col in data:
  for item in col['spans']:
    if item["label"] == "ACTIVITY":
      spans = [{"start": item["token_start"], "end": item["token_end"], "label": item["label"]}]
      examples.append({"text": col["text"], "spans": spans})
      srsly.write_jsonl("only_ACT.jsonl", examples)

In [ ]:
#create dataframe to combine data with same column "text"
import pandas as pd

path = pd.read_json("only_ACT.jsonl", lines=True)
df = pd.DataFrame(path)
df

,text,spans
0,"The four genera of Gochnatieae (Cnicothamnus, ...","[{'start': 0, 'end': 175, 'label': 'ACTIVITY'}]"
1,Both cpDNA and nrDNA were used in a phylogenet...,"[{'start': 0, 'end': 110, 'label': 'ACTIVITY'}]"
2,I usedmultinomial logistic regression of recov...,"[{'start': 2, 'end': 124, 'label': 'ACTIVITY'}]"
3,Clade B is further divided into two clades whe...,"[{'start': 0, 'end': 196, 'label': 'ACTIVITY'}]"
4,We analysed a 9-yr time series of carbon fluxe...,"[{'start': 3, 'end': 180, 'label': 'ACTIVITY'}]"
...,...,...
4177,"Abstract Secondary, backscattered, high-resolu...","[{'start': 0, 'end': 255, 'label': 'ACTIVITY'}]"
4178,"Long-term measurements of deposition, a one-si...","[{'start': 0, 'end': 204, 'label': 'ACTIVITY'}]"
4179,The fills of the truncating ditch have been re...,"[{'start': 0, 'end': 65, 'label': 'ACTIVITY'}]"
4180,QEMSCAN analysis was used to determine rock fa...,"[{'start': 0, 'end': 95, 'label': 'ACTIVITY'}]"
4181,Plot locations are indicated by crosses. (a) t...,"[{'start': 669, 'end': 855, 'label': 'ACTIVITY'}]"

In [ ]:
merged = df.groupby(['text'], as_index=False)['spans'].sum()
new_df = pd.DataFrame(merged)
new_df

,text,spans
0,"(2009), we also implemented a Bayesian stochas...","[{'start': 11, 'end': 85, 'label': 'ACTIVITY'}]"
1,(5) Extended R-Value analysis was carried out ...,"[{'start': 4, 'end': 128, 'label': 'ACTIVITY'}]"
2,-17.9±0.2 1097±38 1060 840 1005 C27 106 49 1.7...,"[{'start': 169, 'end': 328, 'label': 'ACTIVITY'}]"
3,0.10 ' Large seeds were weighed individually (...,"[{'start': 7, 'end': 44, 'label': 'ACTIVITY'}]"
4,1 A Holocene sedimentary sequence from a coast...,"[{'start': 2, 'end': 188, 'label': 'ACTIVITY'}]"
...,...,...
3814,• Methods Qualitative and quantitative wood an...,"[{'start': 10, 'end': 218, 'label': 'ACTIVITY'}]"
3815,"• Sporocarps, needles, and litter from Woods C...","[{'start': 0, 'end': 157, 'label': 'ACTIVITY'}]"
3816,• We examined the EM community associated with...,"[{'start': 5, 'end': 270, 'label': 'ACTIVITY'}]"
3817,• We grew three subantarctic and three alpine ...,"[{'start': 5, 'end': 99, 'label': 'ACTIVITY'},..."
3818,•Methods ICP-OES was used to measure Mn and ot...,"[{'start': 9, 'end': 25, 'label': 'ACTIVITY'}]"

In [ ]:
#save dataframe to json file
new_df.to_json("export_df.json", orient='records')#convert json to jsonl
import json

with open('/content/export_df.json', 'r') as f:
    json_data = json.load(f)
    
with open('only_ACT_final.jsonl', 'w') as outfile:
    for entry in json_data:
        json.dump(entry, outfile)
        outfile.write('\n')

### GOAL

In [ ]:
import srsly

path="/content/ner_ACTIVITY_METHOD_GOAL_RESULT_ACTIMPLIED_9816.jsonl"
data = srsly.read_jsonl(path)
examples = []
for col in data:
  for item in col['spans']:
    if item["label"] == "GOAL":
      spans = [{"start": item["start"], "end": item["end"], "label": item["label"]}]
      examples.append({"text": col["text"], "spans": spans, 'meta':col["meta"]})
      srsly.write_jsonl("only_GOAL.jsonl", examples)

In [ ]:
#create dataframe to combine data with same column "text"
import pandas as pd

path = pd.read_json("/content/only_GOAL.jsonl", lines=True)
df = pd.DataFrame(path)
df

,text,spans,meta
0,"Here, we aimed to identify which drivers contr...","[{'start': 18, 'end': 129, 'label': 'GOAL'}]",{'id': 'http://www.jstor.org/stable/newphytolo...
1,We combined SDMs and microsatellite data from ...,"[{'start': 196, 'end': 321, 'label': 'GOAL'}]",{'id': 'http://www.jstor.org/stable/newphytolo...
2,"To reconstruct phylogenetic relationships, we ...","[{'start': 3, 'end': 41, 'label': 'GOAL'}]",{'id': 'http://www.jstor.org/stable/taxon.62.4...
3,Ultrasonic emission analysis enabled new insig...,"[{'start': 114, 'end': 147, 'label': 'GOAL'}]",{'id': 'http://www.jstor.org/stable/newphytolo...
4,We used a dataset of nuclear ITS and LSU ribos...,"[{'start': 81, 'end': 176, 'label': 'GOAL'}]",{'id': 'http://www.jstor.org/stable/taxon.62.5...
...,...,...,...
1808,While stable isotope analyses of vertebrate fo...,"[{'start': 231, 'end': 266, 'label': 'GOAL'}]",None
1809,as well as to understand the zircon population...,"[{'start': 14, 'end': 65, 'label': 'GOAL'}]",None
1810,New Phytologist Research 1277 Table 1 Seven un...,"[{'start': 88, 'end': 143, 'label': 'GOAL'}]",None
1811,QEMSCAN analysis was used to determine rock fa...,"[{'start': 29, 'end': 50, 'label': 'GOAL'}]",None
1812,"Hence, this research makes use of the couple d...","[{'start': 101, 'end': 179, 'label': 'GOAL'}]",None

In [ ]:
merged = df.groupby(['text'], as_index=False)['spans'].sum()
new_df = pd.DataFrame(merged)
new_df

,text,spans
0,(2) Species distribution models (SDMs): the IA...,"[{'start': 169, 'end': 203, 'label': 'GOAL'}]"
1,"(2009), we also implemented a Bayesian stochas...","[{'start': 89, 'end': 148, 'label': 'GOAL'}]"
2,(5) Extended R-Value analysis was carried out ...,"[{'start': 132, 'end': 219, 'label': 'GOAL'}]"
3,1 We used dendrochronology to reconstruct the ...,"[{'start': 30, 'end': 143, 'label': 'GOAL'}]"
4,1. A. A laser and two plumb lines were used to...,"[{'start': 47, 'end': 109, 'label': 'GOAL'}]"
...,...,...
1594,χ2tests and one-way ANOVA were performed to te...,"[{'start': 44, 'end': 146, 'label': 'GOAL'}]"
1595,• Methods Allozyme electrophoresis of seven lo...,"[{'start': 79, 'end': 138, 'label': 'GOAL'}]"
1596,• Methods DNA flow cytometry was used together...,"[{'start': 86, 'end': 176, 'label': 'GOAL'}]"
1597,• Methods Phylogenetic analyses of DNA sequenc...,"[{'start': 110, 'end': 146, 'label': 'GOAL'}]"
1598,•Methods ICP-OES was used to measure Mn and ot...,"[{'start': 29, 'end': 212, 'label': 'GOAL'}]"

In [ ]:
#save dataframe to json file
new_df.to_json("export_df.json", orient='records')#convert json to jsonl
import json

with open('/content/export_df.json', 'r') as f:
    json_data = json.load(f)
    
with open('only_GOAL_final.jsonl', 'w') as outfile:
    for entry in json_data:
        json.dump(entry, outfile)
        outfile.write('\n')

### No label sentences

In [ ]:
import srsly

path="/content/ner_ACTIVITY_METHOD_GOAL_RESULT_ACTIMPLIED_9816.jsonl"
data = srsly.read_jsonl(path)
spans = []
examples = []
for col in data:
    if len(col['spans']) == 0:
      examples.append({"text": col["text"], "spans": spans})
      srsly.write_jsonl("no_labels.jsonl", examples)

# Machine Learning process

## Spacy NER model (baseline)

In [ ]:
!python -m spacy init fill-config base_config.cfg config.cfg

!python -m spacy train config.cfg --output ./output-dir --paths.train /content/Spacy/train.spacy --paths.dev /content/Spacy/dev.spacy

#evaluation
!python -m spacy evaluate ./output-dir/model-best /content/Spacy/eval.spacy --output ner_ACT.jsonl

✔ Auto-filled config with all values
✔ Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy
✔ Created output directory: output-dir
ℹ Saving to output directory: output-dir
ℹ Using CPU
ℹ To switch to GPU 0, use the option: --gpu-id 0

=========================== Initializing pipeline ===========================
[2022-11-03 09:50:16,306] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-11-03 09:50:16,317] [INFO] Pipeline: ['tok2vec', 'ner']
INFO:spacy:Pipeline: ['tok2vec', 'ner']
[2022-11-03 09:50:16,321] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-11-03 09:50:16,322] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
[2022-11-03 09:50:17,086] [INFO] Initialized pipeline components: ['tok2vec', 'ner']
INFO:spacy:Initialized pipeline components: ['tok2vec', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     44.50    0.00    0.00    0.00    0.00
  0     200       1358.72   1902.09   40.00   34.38   47.83    0.40
  1     400         46.55    662.83   44.44   51.43   39.13    0.44
  2     600         81.44    692.62   42.11   53.33   34.78    0.42
  3     800         86.22    561.69   45.00   52.94   39.13    0.45
  5    1000        143.24    417.68   50.67   65.52   41.30    0.51
  7    1200        138.18    294.19   38.36   51.85   30.43    0.38
 10    1400        205.19    273.02   42.25   60.00   32.61    0.42
 13    1600        288.48    250.23   43.59   53.12   36.96    0.44
 17    1800        284.31    174.15   36.84   46.67   30.43    0.37
 22    2000        299.95    165.25   42.50   50.00   36.96    0.42
 28    2200        308.20    129.33   45.57   54.55   39.13    0.46
 35    2400        665.45    115.11   44.19   47.50   41.30    0.44
 42    2600        261.91     68.71   49.38   57.14   43.48    0.49
✔ Saved pipeline to output directory
output-dir/model-last
ℹ Using CPU
ℹ To switch to GPU 0, use the option: --gpu-id 0

================================== Results ==================================

TOK     100.00
NER P   44.00
NER R   30.14
NER F   35.77
SPEED   24727


=============================== NER (per type) ===============================

             P       R       F
RESULT   44.00   30.14   35.77

✔ Saved results to ner_ACT.jsonl

## Custom Word Embeddings

### Import all libraries which will be used

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
import gensim
from gensim.models import Word2Vec
from gensim.models.keyedvectors import KeyedVectors

In [ ]:
import srsly

In [ ]:
import spacy

### Word Embeddings from paper abstracts

####Create embeddings

In [ ]:
data = srsly.read_jsonl("./abstract-sents.jsonl")
sum_sents = []
for col in data:
      sent = col["text"]
      sum_sents.append(sent)

sum_lists =[]
for sent in sum_sents:
  prep_text = gensim.utils.simple_preprocess(sent, deacc=False, min_len=2, max_len=30)
  sum_lists.append(prep_text)

In [ ]:
#train
model = Word2Vec(sentences= sum_lists, sg=1, hs=1, vector_size=300, workers=12, epochs=5)
# save model
model.wv.save_word2vec_format('JSTOR_abstracts_sents_300.txt')
# load model
KeyedVectors.load_word2vec_format("JSTOR_abstracts_sents_300.txt", binary=False)

#### ML with embeddings from abstracts

In [ ]:
import spacy

# init vectors using the txt embeddings file 
!python -m spacy init vectors en /content/drive/MyDrive/MODELS_W2V/JSTOR_abstracts_sents_300.txt /content/abs --name JSTOR_abs_model

ℹ Creating blank nlp object for language 'en'
[2022-11-03 09:54:41,891] [INFO] Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_abstracts_sents_300.txt
INFO:spacy:Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_abstracts_sents_300.txt
34506it [00:03, 8792.61it/s]
[2022-11-03 09:54:46,974] [INFO] Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_abstracts_sents_300.txt
INFO:spacy:Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_abstracts_sents_300.txt
✔ Successfully converted 34506 vectors
✔ Saved nlp object with vectors to output directory. You can now use
the path to it in your config as the 'vectors' setting in [initialize].
/content/abs

In [ ]:
!python -m spacy init config -p ner -o accuracy ner.cfg

⚠ To generate a more effective transformer-based config (GPU-only),
install the spacy-transformers package and re-run this command. The config
generated now does not use transformers.
ℹ Generated config template specific for your use case
- Language: en
- Pipeline: ner
- Optimize for: accuracy
- Hardware: CPU
- Transformer: None
✔ Auto-filled config with all values
✔ Saved config
ner.cfg
You can now add your data and train your pipeline:
python -m spacy train ner.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [ ]:
nlp = spacy.load("./abs")
#nlp.add_pipe("ner")
nlp.to_disk("./abs")

In [ ]:
!python -m spacy train /content/abs/ner.cfg --paths.train ./Spacy/train.spacy --paths.dev ./Spacy/dev.spacy --output ./abs/ --paths.vectors ./abs -g 0

ℹ Saving to output directory: abs
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-11-03 09:55:27,875] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-11-03 09:55:27,888] [INFO] Pipeline: ['tok2vec', 'ner']
INFO:spacy:Pipeline: ['tok2vec', 'ner']
[2022-11-03 09:55:27,893] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-11-03 09:55:28,306] [INFO] Added vectors: ./abs
INFO:spacy:Added vectors: ./abs
[2022-11-03 09:55:28,466] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
[2022-11-03 09:55:43,086] [INFO] Initialized pipeline components: ['tok2vec', 'ner']
INFO:spacy:Initialized pipeline components: ['tok2vec', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     44.50    0.00    0.00    0.00    0.00
  0     200         74.04   1246.53   39.51   45.71   34.78    0.40
  1     400         11.06    662.93   42.11   53.33   34.78    0.42
  2     600         15.61    686.86   51.95   64.52   43.48    0.52
  3     800         27.18    607.83   32.94   35.90   30.43    0.33
  5    1000         56.07    494.95   50.60   56.76   45.65    0.51
  7    1200         76.55    428.46   43.18   45.24   41.30    0.43
 10    1400        134.97    312.01   40.96   45.95   36.96    0.41
 13    1600        168.17    279.61   46.32   44.90   47.83    0.46
 17    1800        252.50    228.50   40.54   53.57   32.61    0.41
 22    2000        276.21    123.24   48.19   54.05   43.48    0.48
 28    2200        314.22    100.79   47.62   52.63   43.48    0.48
✔ Saved pipeline to output directory
abs/model-last

In [ ]:
!python -m spacy evaluate ./abs/model-best ./Spacy/eval.spacy --output ner_ACT_with_abs_vectors.jsonl -g 0

ℹ Using GPU: 0

================================== Results ==================================

TOK     100.00
NER P   51.02
NER R   34.25
NER F   40.98
SPEED   5569


=============================== NER (per type) ===============================

             P       R       F
RESULT   51.02   34.25   40.98

✔ Saved results to ner_ACT_with_abs_vectors.jsonl

###  Word Embeddings from uncleaned text

#### Create embeddings

In [ ]:
import os 

dir_path = "/content/drive/MyDrive/for_w2v"

sum_sents = []
files = os.listdir(dir_path)
for file in files:
      data = srsly.read_jsonl(dir_path+"/"+file)
      for col in data:
        sent = col["text"]
        sum_sents.append(sent)

sum_lists =[]
for sent in sum_sents:
  prep_text = gensim.utils.simple_preprocess(sent, deacc=False, min_len=2, max_len=25)
  sum_lists.append(prep_text)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
#train model
model = Word2Vec(sentences= sum_lists, sg=1, hs=1, vector_size=300, workers=12, epochs=5)
# save model
model.wv.save_word2vec_format('JSTOR_uncleaned_sents_model.txt')
# load model
KeyedVectors.load_word2vec_format("JSTOR_uncleaned_sents_model.txt", binary=False)

#### ML with embeddings from uncleaned text

In [ ]:
import spacy

# init vectors using the txt embeddings file 
!python -m spacy init vectors en /content/drive/MyDrive/MODELS_W2V/JSTOR_uncleaned_sents_model_300.txt ./uncl_txt --name JSTOR_unlceaned_sents_model

ℹ Creating blank nlp object for language 'en'
[2022-10-29 16:33:13,914] [INFO] Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_uncleaned_sents_model_300.txt
INFO:spacy:Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_uncleaned_sents_model_300.txt
245107it [00:15, 15929.03it/s]
[2022-10-29 16:33:29,847] [INFO] Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_uncleaned_sents_model_300.txt
INFO:spacy:Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_uncleaned_sents_model_300.txt
✔ Successfully converted 245107 vectors
✔ Saved nlp object with vectors to output directory. You can now use
the path to it in your config as the 'vectors' setting in [initialize].
/content/uncl_txt

In [ ]:
!python -m spacy init config -p ner -o accuracy ner.cfg

⚠ To generate a more effective transformer-based config (GPU-only),
install the spacy-transformers package and re-run this command. The config
generated now does not use transformers.
ℹ Generated config template specific for your use case
- Language: en
- Pipeline: ner
- Optimize for: accuracy
- Hardware: CPU
- Transformer: None
✔ Auto-filled config with all values
✔ Saved config
ner.cfg
You can now add your data and train your pipeline:
python -m spacy train ner.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [ ]:
nlp = spacy.load("./uncl_txt")
#nlp.add_pipe("ner")
nlp.to_disk("./uncl_txt")

In [ ]:
!python -m spacy train /content/uncl_txt/ner.cfg --paths.train ./Spacy/train.spacy --paths.dev ./Spacy/dev.spacy --output ./uncl_txt --paths.vectors ./uncl_txt -g 0

ℹ Saving to output directory: uncl_txt
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-10-29 16:34:07,331] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-10-29 16:34:07,342] [INFO] Pipeline: ['tok2vec', 'ner']
INFO:spacy:Pipeline: ['tok2vec', 'ner']
[2022-10-29 16:34:07,346] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-10-29 16:34:08,614] [INFO] Added vectors: ./uncl_txt
INFO:spacy:Added vectors: ./uncl_txt
[2022-10-29 16:34:09,648] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
[2022-10-29 16:34:13,994] [INFO] Initialized pipeline components: ['tok2vec', 'ner']
INFO:spacy:Initialized pipeline components: ['tok2vec', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     10.50    0.00    0.00    0.00    0.00
  0     200         79.82   1314.15    5.00   40.00    2.67    0.05
  0     400          8.57    862.94   39.39   45.61   34.67    0.39
  1     600         15.76    950.72   36.92   43.64   32.00    0.37
  2     800         20.78   1029.91   35.37   36.11   34.67    0.35
  3    1000         32.18   1005.91   42.25   44.78   40.00    0.42
  4    1200         54.86    877.82   34.29   36.92   32.00    0.34
  6    1400         73.66    753.30   38.30   40.91   36.00    0.38
  8    1600         71.91    602.93   38.24   42.62   34.67    0.38
 10    1800        100.82    507.43   39.71   44.26   36.00    0.40
 13    2000        142.32    411.07   43.48   47.62   40.00    0.43
 17    2200        221.69    350.27   40.00   50.00   33.33    0.40
 21    2400        254.19    265.00   49.65   53.03   46.67    0.50
 26    2600        349.33    213.27   48.12   55.17   42.67    0.48
 30    2800       1626.49    175.68   46.15   48.53   44.00    0.46
 35    3000        429.13    127.63   41.61   41.89   41.33    0.42
 39    3200        581.39    151.72   42.34   46.77   38.67    0.42
 44    3400        503.06     99.08   42.34   46.77   38.67    0.42
 48    3600        620.46    130.56   41.32   54.35   33.33    0.41
 53    3800        824.95    115.73   39.06   47.17   33.33    0.39
 57    4000        680.21    122.22   41.22   48.21   36.00    0.41
✔ Saved pipeline to output directory
uncl_txt/model-last

In [ ]:
!python -m spacy evaluate /content/uncl_txt/model-best ./Spacy/eval.spacy --output ner_with_uncleaned_sents_vectors.jsonl -g 0

ℹ Using GPU: 0

================================== Results ==================================

TOK     100.00
NER P   44.86
NER R   39.34
NER F   41.92
SPEED   8193


=============================== NER (per type) ===============================

             P       R       F
RESULT   44.86   39.34   41.92

✔ Saved results to ner_with_uncleaned_sents_vectors.jsonl

### Word Embeddings from cleaned texts

#### Create embeddings

In [ ]:
dir_path = "/content/drive/MyDrive/for_w2v/cleaned_sents"

sum_sents = []
files = os.listdir(dir_path)
for file in files:
      data = srsly.read_jsonl(dir_path+"/"+file)
      for col in data:
        sent = col["text"]
        sum_sents.append(sent)

sum_lists =[]
for sent in sum_sents:
  prep_text = gensim.utils.simple_preprocess(sent, deacc=False, min_len=2, max_len=25)
  sum_lists.append(prep_text)

In [ ]:
model = Word2Vec(sentences= sum_lists, sg=1, hs=1, vector_size=300, workers=12, epochs=5)
# save model
model.wv.save_word2vec_format('JSTOR_uncleaned_sents_model.txt')
# load model
KeyedVectors.load_word2vec_format("JSTOR_uncleaned_sents_model.txt", binary=False)

#### ML with embeddings from cleaned text

In [ ]:
import spacy

!python -m spacy init vectors en /content/drive/MyDrive/MODELS_W2V/JSTOR_cleaned_sents_model_300.txt ./cl_txt --name JSTOR_cleaned_model

!python -m spacy init config -p ner -o accuracy ner.cfg

nlp = spacy.load("./cl_txt")
nlp.to_disk("./cl_txt")

ℹ Creating blank nlp object for language 'en'
[2022-11-03 10:01:14,825] [INFO] Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_cleaned_sents_model_300.txt
INFO:spacy:Reading vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_cleaned_sents_model_300.txt
147273it [00:11, 13313.12it/s]
[2022-11-03 10:01:27,119] [INFO] Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_cleaned_sents_model_300.txt
INFO:spacy:Loaded vectors from /content/drive/MyDrive/MODELS_W2V/JSTOR_cleaned_sents_model_300.txt
✔ Successfully converted 147273 vectors
✔ Saved nlp object with vectors to output directory. You can now use
the path to it in your config as the 'vectors' setting in [initialize].
/content/cl_txt
⚠ To generate a more effective transformer-based config (GPU-only),
install the spacy-transformers package and re-run this command. The config
generated now does not use transformers.
ℹ Generated config template specific for your use case
- Language: en
- Pipeline: ner
- Optimize for: accuracy
- Hardware: CPU
- Transformer: None
✔ Auto-filled config with all values
✔ Saved config
ner.cfg
You can now add your data and train your pipeline:
python -m spacy train ner.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [ ]:
!python -m spacy train /content/cl_txt/ner.cfg --paths.train ./Spacy/train.spacy --paths.dev ./Spacy/dev.spacy --output ./cl_txt/ --paths.vectors ./cl_txt -g 0

ℹ Saving to output directory: cl_txt
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-11-03 10:02:15,606] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-11-03 10:02:15,618] [INFO] Pipeline: ['tok2vec', 'ner']
INFO:spacy:Pipeline: ['tok2vec', 'ner']
[2022-11-03 10:02:15,622] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-11-03 10:02:16,465] [INFO] Added vectors: ./cl_txt
INFO:spacy:Added vectors: ./cl_txt
[2022-11-03 10:02:17,071] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
[2022-11-03 10:02:18,900] [INFO] Initialized pipeline components: ['tok2vec', 'ner']
INFO:spacy:Initialized pipeline components: ['tok2vec', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     44.50    0.00    0.00    0.00    0.00
  0     200         68.54   1219.29   45.71   40.68   52.17    0.46
  1     400         12.40    678.94   38.36   51.85   30.43    0.38
  2     600         20.86    710.68   48.10   57.58   41.30    0.48
  3     800         26.76    633.10   37.97   45.45   32.61    0.38
  5    1000         49.01    444.65   34.67   44.83   28.26    0.35
  7    1200        798.75    456.96   43.37   48.65   39.13    0.43
 10    1400        192.40    324.76   46.67   47.73   45.65    0.47
 13    1600        138.27    215.00   43.37   48.65   39.13    0.43
 17    1800        583.34    168.62   41.56   51.61   34.78    0.42
 22    2000        308.74    153.98   43.90   50.00   39.13    0.44
 28    2200        238.78    111.91   46.34   52.78   41.30    0.46
✔ Saved pipeline to output directory
cl_txt/model-last

In [ ]:
!python -m spacy evaluate ./cl_txt/model-best ./Spacy/eval.spacy --output ner_with_cleaned_sents_vectors.jsonl -g 0

ℹ Using GPU: 0

================================== Results ==================================

TOK     100.00
NER P   40.43
NER R   26.03
NER F   31.67
SPEED   5830


=============================== NER (per type) ===============================

             P       R       F
RESULT   40.43   26.03   31.67

✔ Saved results to ner_with_cleaned_sents_vectors.jsonl

## Deep Learning using BERT & ROBERTa language models

In [ ]:
!python -m spacy init fill-config /content/base_config_trf_bert.cfg /content/config-v3.4.cfg

✔ Auto-filled config with all values
✔ Saved config
/content/config-v3.4.cfg
You can now add your data and train your pipeline:
python -m spacy train config-v3.4.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [ ]:
!python -m spacy train /content/config-v3.4.cfg --paths.train /content/Spacy/train.spacy --paths.dev /content/Spacy/dev.spacy --output /content/ACTIVITY_3785_bert -g 0

✔ Created output directory: /content/ACTIVITY_3785_bert
ℹ Saving to output directory: /content/ACTIVITY_3785_bert
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
[2022-11-07 09:40:11,559] [INFO] Set up nlp object from config
INFO:spacy:Set up nlp object from config
[2022-11-07 09:40:11,569] [INFO] Pipeline: ['transformer', 'ner']
INFO:spacy:Pipeline: ['transformer', 'ner']
[2022-11-07 09:40:11,573] [INFO] Created vocabulary
INFO:spacy:Created vocabulary
[2022-11-07 09:40:11,574] [INFO] Finished initializing nlp object
INFO:spacy:Finished initializing nlp object
Downloading: 100% 28.0/28.0 [00:00<00:00, 23.7kB/s]
Downloading: 100% 570/570 [00:00<00:00, 452kB/s]
Downloading: 100% 226k/226k [00:00<00:00, 677kB/s]
Downloading: 100% 455k/455k [00:00<00:00, 1.09MB/s]
Downloading: 100% 420M/420M [00:06<00:00, 69.4MB/s]
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
[2022-11-07 09:40:37,765] [INFO] Initialized pipeline components: ['transformer', 'ner']
INFO:spacy:Initialized pipeline components: ['transformer', 'ner']
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['transformer', 'ner']
ℹ Initial learn rate: 0.0
E    #       LOSS TRANS...  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  -------------  --------  ------  ------  ------  ------
  0       0        1936.62    432.35    0.47    0.28    1.39    0.00
  2     200       68739.73  30340.19   70.20   67.09   73.61    0.70
  5     400        2205.68   1964.67   76.49   77.30   75.69    0.76
  8     600        1113.78   1087.92   80.82   79.73   81.94    0.81
 10     800         517.74    453.62   79.05   76.97   81.25    0.79
 13    1000         345.68    277.77   74.05   73.79   74.31    0.74
 16    1200         268.92    200.35   77.82   76.51   79.17    0.78
 18    1400         168.99    143.15   76.98   76.19   77.78    0.77
 21    1600         200.29    135.05   76.87   75.33   78.47    0.77
 24    1800         122.45     92.30   77.03   75.00   79.17    0.77
 26    2000          99.89     76.10   75.60   74.83   76.39    0.76
 29    2200         106.41     68.20   77.70   75.66   79.86    0.78
✔ Saved pipeline to output directory
/content/ACTIVITY_3785_bert/model-last

In [ ]:
!python -m spacy evaluate /content/ACTIVITY_3785_bert/model-best ./Spacy/eval.spacy --output ner_transformers.jsonl -g 0

ℹ Using GPU: 0

================================== Results ==================================

TOK     100.00
NER P   77.73
NER R   81.65
NER F   79.64
SPEED   5061


=============================== NER (per type) ===============================

               P       R       F
ACTIVITY   77.73   81.65   79.64

✔ Saved results to ner_transformers.jsonl